<form action="<%= carro.new_record? ? carros_criar_path : carros_alterar_path(@carro) %>" method="POST">

  <% if carro.errors.any? %>
      <div style="color: red">
        <h2>
          Contém <%=carro.errors.count %> erro(s) para ser resolvido(s) abaixo:
        </h2>
        <ul>
          <% carro.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

  <% unless carro.new_record? %>
    <input type="hidden" name="_method" value="put">
  <% end %>
 <div class="form-group">
        <strong>Nome</strong>: <input type="text" name="nome" class="form-control custom-input" value="<%= carro&.nome %>">
      </div>
      <div class="form-group">
        <strong>Modelo</strong>: <input type="text" name="modelo" class="form-control custom-input" value="<%= carro&.modelo %>">
      </div>
      <div class="form-group">
        <strong>Ano</strong>: <input type="number" name="ano" class="form-control custom-input" value="<%= carro&.ano %>">
      </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
  <a href="/carros" class="btn btn-warning">Voltar para a lista</a>
</form>












